<div class="sounds">
  <div class="row">
    <div class="col-lg-2">
      <h3>Small Crowd</h3>
      <p><a class="btn btn-default" data-sound="small-crowd" href="#"></a></p>
    </div>
    <div class="col-lg-2">
      <h3>Crowd Boo</h3>
      <p><a class="btn btn-default" data-sound="crowd-boo" href="#"></a></p>
    </div>
    <div class="col-lg-2">
      <h3>Yahoo</h3>
      <p><a class="btn btn-default" data-sound="yahoo" href="#"></a></p>
    </div>
  </div>
</div>
